{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "plugins": ["eslint-plugin-jsx-a11y"],
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "semi": ["error", "always"],
    "curly": "error",
    "brace-style": "error",
    // Настройка отдельных правил
    "no-unused-vars": 1
  }
}
